{% extends 'base.html.twig' %}

{% block title %}Mes objets{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="text-center">Tous mes objets actifs</h1>
    <div class="row d-flex justify-content-center">
    {% for item in myitems %}
        <div class="card col-5 col-md-3 m-2">
            <img src="../uploads/{{ item.picture }}" class="card-img-top" alt="photo de l'objet">
            <div class="card-body">
                <h3 class="card-title">{{ item.name }}</h3>
                <p class="card-text">{{ item.categoryType.categoryName }}</p>
                <div class="d-flex">
                <a href="{{ path('app_item_show', {id:item.id}) }}"><button class="btn btn-primary">Détails</button></a>
                <a href="{{ path('app_item_delete', {id:item.id}) }}">{{ include('item/_delete.html.twig') }}</a>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</div>
{% endblock %}
