<nav class="navbar navbar-dark navbar-expand-lg bg-primary pb-3">
	<div class="container-fluid">
		<a href="/"><img class="logo-top-nav img-fluid" src="{{ asset('build/images/logo.png') }}" alt="Logo Green Troc"></a>
		<a class="navbar-brand" id="navbar-title" href="/"><h2 class="ms-2">Green <br>Troc</h2>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end bg-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h3 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Green Troc</h3>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="nav-li-color">
					<li class="nav-item m-2">
						<a class="nav-link" href="/">Accueil</a>
					</li>
					<li class="nav-item m-2">
						<a class="nav-link" href="#">Je cherche...</a>
					</li>
					<li class="nav-item m-2">
						<a class="nav-link" {% if app.user %}href="{{ path('app_item_new') }}"{% else %}href="{{ path('app_login') }}" {% endif %}>Proposer mon objet</a>
					</li>
					<li class="nav-item m-2">
						{% if app.user %}
						<div class="btn-group">
							<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
								{{ app.user.firstname }}
							</button>
							<ul class="dropdown-menu dropdown-menu-lg-end">
								<li><a href="{{ path('app_myitem', {id:app.user.id}) }}"class="dropdown-item">Mes objets en ligne</a></li>
								<li><a href="{{ path('app_item_new') }}"class="dropdown-item">Ajouter un objet</a></li>
								<li><a href="{{ path('app_item_track') }}"class="dropdown-item">Mon suivi</a></li>
								<li><a href="{{ path('app_logout') }}"class="dropdown-item">Se déconnecter</a></li>
							</ul>
						</div>
						{% else %}
							<a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
