{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <p class="d-none" name="id" id="itemId">{{ item.id }}</p>
    <div class="row">
        <h1 class="m-3 text-center">{{item.name}}</h1>
    </div>
    <div class="row">
        <img class="col-12 col-sm-12 col-md-6" src="../uploads/{{ item.picture }}">
        <div class="container col-12 col-sm-12 col-md-6">
            <div class="row">
            <p>{{ item.description }}<p>
            <p class="fst-italic">Catégorie : {{ item.categoryType.categoryName }}<p>
            {% if app.user != item.userWhoOffer %}
            <p class="text-center">Cet article est proposé par 
            {{ item.userWhoOffer.firstname }} {{ item.userWhoOffer.lastname }}</p>
            <p class="text-center">{{ item.userWhoOffer.address }} {{ item.userWhoOffer.postcode }} {{ item.userWhoOffer.city }}</p>
            
            {{ form_start(form) }}
            <div class="row d-flex justify-content-center">
                <p class="text-center">Il vous intéresse ? Faites vite une demande pour savoir s'il est disponible !</p>
                {{ form_row(form.askedDate, {'attr': {'class': 'col-4 m-1'}}) }}
                <button class="col-4 m-1 btn btn-primary" type="submit">Faire une demande</button>
            </div>
            {{ form_end(form) }}
                
                {# <div class="row d-flex justify-content-center">
                    <input class="col-4 m-1" name="askedDate" id="calendar-input" type="date"></input>
                    <button class="col-4 m-1 btn btn-primary" type="submit">Faire une demande</button>
                </div> #}
   
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <a class="col-6 col-md-3 m-3 btn btn-secondary" href="{{ path('app_item')}}">Retour à la liste des objets</a>
    </div>
</div>
{% endblock %}

{# {% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %} #}